.error-message {
    color: red;
    font-size: 12px;
    display: none;
    text-align: left;
    margin-top: -10px;
    margin-bottom: 10px;
}

input:invalid {
    border-color: red;
}

input:valid {
    border-color: green;
}

.welcome-container {
    text-align: center;
    margin-top: 20%;
}

.welcome-container button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #FF5733;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.welcome-container button:hover {
    background-color: #C70039;
}
